/* Specific changes to index.js (homepage)                            */
/* Took me a considerable amount of time to figure this out. - Jordan */

.heroSection 
{
  background-image: url('https://assets.martysmods.com/headers/herobanner.webp');
  background-size: cover;
  background-color: #1b1b1d;
  background-position: center 80% !important;
  width: auto;
  max-width: auto;
  height: 450px;
  text-align: left;
}

.hero__title 
{
  font-size: 4.5rem !important;
}

.heroBanner 
{
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) 
{
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitle 
{
  font-family: var(--ff-base);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  margin-bottom: var(--space-md);
}

.heroSubtitle 
{
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}